@model List<BookVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            @foreach (var Image in item.BookImages)
            {
                <img class="card-img-top" src="~/Images/@Image.ImagePath" alt="Card image cap">
            }

            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <h6 class="card-title">@item.BookPublisher</h6>
                <p class="card-text">@item.Description</p>
                <a href="#" class="btn btn-primary">Sipariş Ver</a>
            </div>
        </div>
    }
</div>